@import 'general.scss';

.game {
    display: none;

    &-players,
    &-score {
        text-align: center;
    }
    &-score {
        font-size: 3.5rem;
        margin-top: -3rem;
    }

    &-players {
        font-size: 2rem;
        color: $brightorange;
    }
    &-player1,
    &-player2 {
        font-size: 3rem;
        color: #000;
    }

    &-board {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 7rem);
        grid-template-rows: repeat(3, 7rem);

        &-cell {
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 0.3rem solid #000;
            cursor: pointer;

            &:hover {
                background-color: rgb(211, 243, 243);
            }
        }

        &-cell:nth-child(3n) {
            border-right: 1px solid #fff;
        }

        &-cell:nth-child(-n + 6) {
            border-bottom: 0.3rem solid #000;
        }

        &-sign {
            font-size: 7rem;
        }
    }

    &-buttonBlock {
        margin-top: 6vh;
        height: 3rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &-button {
        @extend %buttonStyle;
        height: 100%;
        font-size: 1.5rem;
        width: 10rem;
    }

    &-message {
        text-align: center;
        width: 35%;
        font-size: 2.5rem;
        color: $brightorange;
    }
}

.currentPlayer {
    color: $brightblue;
}

.disabled {
    pointer-events: none;
}

.highlightedCell {
    background-color: lighten($brightblue, 30%);
}