$lightorange: rgb(248, 215, 106);
$brightorange: rgb(212, 94, 25);
$brightblue: rgb(47, 192, 228);

body {
    padding: 0;
    margin: 0;
    font-family: 'Gochi Hand', cursive;
    height: 95vh;
}

%buttonStyle {
    font-family: inherit;
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;

    &:hover {
        background-color: $lightorange;
    }
}
