@import 'general.scss';

.start {
    &-title {
        font-size: 6rem;
        text-align: center;
    }

    &-link {
        text-decoration: none;
        color: #000;
    }

    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-label {
        display: inline;
        font-size: 2.5rem;
        margin-top: 3rem;
    }

    &-input {
        font-family: inherit;
        color: rgb(82, 82, 82);
        display: inline;
        width: 100%;
        border: none;
        border-bottom: 3px solid rgb(0, 0, 0);
        font-size: 2rem;

        &:focus {
            outline: none;
        }
    }

    &-button {
        @extend %buttonStyle;
        margin-top: 5rem;
        font-size: 2rem;
        width: 20rem;
        height: 3.5rem;
    }
}
