.board {
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 2rem;
  min-height: 60vh;
  width: 65%;
  background-color: #221b2ec0;
  border-radius: 1rem;
}

.buttons-block {
  margin: 0 auto;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-button {
  width: 8rem;
  height: 3rem;
  font-family: 'Tillana', 'Lucida', cursive;
  font-size: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #acb6e5, #74ebd5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to bottom,
      #acb6e5,
      #74ebd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &:hover, &:focus {
    box-shadow: 0 0 1.5rem rgba(33, 33, 33, 1);
  }
}

.idea-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 16rem);
  grid-auto-rows: 18rem;
  grid-gap: 2rem;
  justify-content: center;
}

.focusedCard {
  box-shadow: 0px 0px 1.7rem rgba(209, 207, 111, 0.7);
}
