body {
    font-family: 'Norican', 'Lucida', cursive;
    background: #c9ffbf; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffafbd, #c9ffbf); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ffafbd,
        #c9ffbf
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
    margin: 0;
    padding: 0;
}

.blue-bg {
    background-color: #acb6e5;
}

.green-bg {
    background-color: #b4e2d3;
}

.pink-bg {
    background-color: #e6bfd2;
}

.yellow-bg {
    background-color: #e2d9b4;
}


@media screen and (max-width: 840px) {
    .board {
        width: 80%;
    }
}

@media screen and (max-width: 680px) {
    .buttons-block {
        flex-direction: column-reverse;
    }

    .add-button {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .header-title {
        font-size: 2.5rem;
    }
}

// TODO: refactor scss files, using scss opportunities
