.color-button {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  border: 0.2rem solid #f3f3f3;
  cursor: pointer;
  outline: none;

  &:focus {
    opacity: 0.6;
    transition: 0.5s;
  }
}

.color-button:hover,
#active {
  box-shadow: 0px 0px 1rem rgb(184, 178, 99);
}
