.header {
  margin: 0 auto;
  padding: 1.5rem 0;
  width: 50%;
  text-align: center;

  &-line {
    border: none;
    border-bottom: 0.1rem dashed rgb(87, 87, 87);
  }

  &-title {
    padding: 0.5rem 0;
    font-size: 3rem;
  }
}
