.idea-card {
  padding: 0.5rem;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  cursor: grab;
  box-shadow: 2px 4px 6px 3px rgba(37, 37, 37, 0.651);

  &:before {
    content: url('../../static/img/paper-clip.svg');
    position: absolute;
    top: -20px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 0px 1.7rem rgba(207, 193, 233, 0.7);
    transition: 0.5s;
  }

  &:focus {
    outline: rgb(32, 31, 30) solid 1px;
  } /* Consider refactoring due to scss opportunities */
}

.idea-title,
.idea-description {
  background-color: inherit;
  border: none;
  cursor: text;
  outline: none;
  font-family: 'Tillana', 'Lucida', cursive;
  color: rgb(32, 31, 30);
}

.idea-title::placeholder,
.idea-description::placeholder {
  color: rgba(32, 31, 30, 0.9);
}

.idea-title:focus,
.idea-description:focus {
  border: 1px solid #5f6362;
  border-radius: 5px;
}

.idea-title {
  padding: 0 0.2rem;
  margin-bottom: 0.2rem;
  border-bottom: 1px dashed #5f6362;
  font-size: 1.5rem;
}

.idea-description {
  padding: 0.2rem;
  height: 80%;
  font-size: 1.3rem;
  resize: none;
}

.cross {
  margin-bottom: 2%;
  width: 10%;
  align-self: flex-end;
  text-align: center;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: rgba(19, 18, 18, 0.5);
  opacity: 0;

  &:hover,
  &:focus {
    opacity: 1;
    color: rgb(167, 34, 45);
  }
}

.idea-card:hover .cross,
.idea-card:focus .cross {
  opacity: 1;
}
