@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(34, 34, 70, 0.95);
    color: aliceblue;
    margin: 0 auto;
    width: 90%;
}

.main {
    padding: 1rem;
}

hr {
    border: 0;
    border-bottom: 1.5px dashed #ccc;
}

.title {
    margin: 1rem;
    text-align: center;
    color: rgb(255, 214, 102);
    font-size: 4rem;
}

.qa-block {
    height: 60vh;
}

.question-block {
    margin: 0 auto;
    width: 90%;
    height: 20vh;
    text-align: center;
    font-size: 2rem;
}

.answer-block {
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.answer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 5rem;
    border: 2px solid #cecece;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
}

.answer:hover {
    background-color: rgb(34, 34, 70, 0.8);
}

.game-manage-pannel {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    width: 10rem;
    height: 3rem;
    font-size: 1.3rem;
    font-family: inherit sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: none;
    outline: none;
}

.button:hover {
    background-color: rgb(255, 214, 102);
}

.score {
    font-size: 1.5rem;
}

.finish-block {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.finish-text-block {
    text-align: center;
    font-size: 2.5rem;
}

@media screen and (max-width: 1000px) {
    .question-block {
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
        height: auto;
    }

    .answer-block {
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 5rem);
        grid-gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .answer {
        height: 100%;
    }

    .game-manage-pannel {
        margin: 2rem auto;
        height: auto;
        flex-direction: column;
    }

    .score {
        margin: 0.5rem auto;
        order: -1;
    }

    .button {
        margin-top: 0.5rem;
    }
}
