@import 'variables';

.game {
    display: none;

    &-score {
        margin: 0.5rem;
        text-align: center;
        font-size: 1.5rem;
        color: #fff;
    }

    &-score-text {
        display: inline-block;
        padding: 0.2rem 3rem;
        border: 1px solid #fff;
        border-radius: 0.5rem;
    }

    &-buttons-block {
        padding: 2rem;
        display: flex;
        justify-content: center
    }

    &-button {
        width: 13rem;
        margin: 0 1.5rem;
        height: auto;
        background-color: $beige;
        cursor: pointer;
        border-radius: 0.5rem;

        &:hover {
            background-color: darken($beige, 15%);
        }
    }

    &-img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    &-message-block {
        min-height: 7rem;
    }

    &-message {
        color: $beige;
        text-align: center;
        font-size: 2rem;
    }

    &-winner {
        color: lighten($deeporange, 20%);
        text-align: center;
        font-size: 3rem;
    }

    &-restart {
        display: flex;
        justify-content: center;
    }

    &-restart-link {
        font-size: 1.5rem;
        text-align: center;
        text-decoration: none;
        padding: 1rem 2rem;
        color: #fff;
        border: 1px solid #fff;
        cursor: pointer;

        &:hover {
            color: darken(#fff, 10%);
        }
    }
}
