@import 'variables';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $gamefont;
    background-color: $beige;
}

.header {
    padding: 2rem 0;
    background-color: #000000;
    font-size: 1.8rem;
    color: #f5f2dc;
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
}
