@import 'variables';

@mixin clear-button {
    border: 0;
    outline: 0;
    cursor: pointer;
} 

.start {
    padding: 5rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    letter-spacing: 0.1rem;

    &-greeting {
        color: $deeporange;
        font-size: 2.5rem;
    }

    &-rules {
        margin: 3rem 0 4.5rem;
        font-size: 1.8rem;
        line-height: 2.5rem;
        text-align: left;
    }

    &-button {
        @include clear-button;
        color: #fff;
        width: 15rem;
        height: 3rem;
        background-color: $deeporange;
        font-family: $gamefont;
        font-size: 1.5rem;
        border-radius: 4px;

        &:hover {
            background-color: lighten($deeporange, 10%);
        }
    }
}
